<% include partials/header %>

<script src='../js/course_crud.js'></script>

<div class='container'>

	<div class='page-header'>
		<h3>Syllabi Management</h3>
	</div>

	<ol class="breadcrumb">
		<li><a href="/syllabi_tracker">Home</a></li>
		<li class="active">Syllabi Management</li>
	</ol>

	<a class='btn btn-primary btn-lg' href='/syllabi_tracker/mgmt/new_course'>Create a New Course</a>
	
	<br><br>

	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th colspan="4">List of Courses</th>	
		</tr>

		<tr>
			<th>Code</th>
			<th>Description</th>
			<th>Units</th>
			<th>Actions</th>
		</tr>

		<% syllabi.forEach((syllabus) => { %>		
			<tr>
				<td><%= syllabus.code %></td>
				<td><%= syllabus.description %></td>
				<td><%= syllabus.units %> units</td>
				<td>
					<button type='submit' name='submit_button' class='courseDelete btn btn-danger btn-sm' data-id='<%= syllabus._id %>'>Delete</button>

					<a href='/syllabi_tracker/mgmt/course/syllabus/<%= syllabus._id %>' class='btn btn-primary btn-sm'>Syllabus</a>
				</td>
			</tr>
		<% }) %>
	</table>

</div>

<% include partials/footer %>